@import "variables";
@import "main";

.btn {
  background-color: $main;
  border-radius: 10px;
  border: 4px double secondary;
  color: $light;
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.5s;
  padding: 0.5rem;
  cursor: pointer;
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  &:hover {
    background-color: $main-active;
  }
  &:hover span {
    padding-right: 25px;
  }
  &:hover span:after {
    opacity: 1;
    right: 0;
  }
}

.icon-pl {
  padding-left: 0.65rem !important;
}
.funciones {
  height: 650px;
}
.informacion {
  height: 650px;
}
